th, td {
    background-color: #dddddd;
    padding: 10px;
}
th {
    text-align: left;
    width: 130px;
}
td {
    width: 50px;
}

textarea {
    padding: 1em;
    border-color: #dddddd;
    border-width: 2px;
    border-style: solid;
    font-family: monospace;
    font-size: 1.10em;
}

.play-pause {
    float: right;
}